input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-number-input input:focus {
    outline: none !important;
}

.prefix {
    display: inline-block;
    position: relative;
}

.prefix::before {
    position: absolute;
    top: 2px;
    left: .5em;
    transition: all .05s ease-in-out;
}

.pref::before {
    content: '$';
}