/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Work Sans', sans-serif;
}
@layer components {
  .text-pretty {
    text-wrap: pretty;
  }
}
.prefers-contrast {
  display: block;
}

@media (prefers-contrast: high),
(prefers-contrast: more) {
  .prefers-contrast {
    display: none !important;
  }
}